<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='public/css/fonts.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='public/css/style.css'>
</head>
<body>
    <p style="color: white;">bhjhbjbbbvbnbbhj</p>
</body>
</html>
<% if (element.issuer.split("/").length >0) { %>
    <% element.issuer.split("/").forEach(element2 => { %>
        <option value="<%=element2.issuer%>"><%=element2.issuer%></option>
    <% }) %>
<% }else{ %>
    <option value="<%=element.issuer%>"><%=element.issuer%></option>
<%}%>