<div class="window">
    <div class="body">
        <h2>Log In</h2>
        <form>
            <input type="text" name="user" placeholder="User">
            <input type="password" name="password" placeholder="Password">
            <button>Log in</button>
        </form>
    </div>
</div>