<div class="window" id="window_log">
    <div class="back"></div>
    <div class="body">
        <form method="post" id="log">
            <input type="text" name="user" placeholder="User">
            <input type="password" name="password" placeholder="Password">
            <div>
                <p class="callback">&#8205;</p>
                <button>Log In</button>
            </div>
        </form>
    </div>
</div>