<div class="window" id="window_reg">
    <div class="back"></div>
    <div class="body">
        <form method="post" id="reg">
            <input type="text" name="user" placeholder="User">
            <input type="password" name="password" placeholder="Password">
            <input type="file" name="avatar">
            <button>Registration</button>
        </form>
    </div>
</div>