@font-face { 
    font-family: VIDEOPHREAK;
    src: url(../fonts/VIDEOPHREAK.ttf) 
}
@font-face { 
    font-family: normalFont;
    src: url(../fonts/neuropolitical\ rg.otf) 
}
/* opentype */
/* truetype */