body {
    background-color:#13131e;
    overflow:overlay;
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6, button{
    font-family:VIDEOPHREAK ;
}
p, input, select, textarea, label, a{
    font-family: normalFont ;
}
/* p, a, h1, h2, h3, h4, h5{
    margin: 0;
    margin-bottom: 5px !important;
} */
.scroll_off{
    overflow: hidden;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background:#06041700;
}
::-webkit-scrollbar-thumb {
    background:#232031;
}
::-webkit-scrollbar-thumb:hover {
    background:#261f38;
}
.button{
    cursor: pointer;
}
header {
    width:100%;
    box-sizing:border-box;
    color:#FFF;
    background-color:#0c0b0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .page_fun{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:10px;
}
header .log_reg{
    display: flex;
    padding: 20px;
}
.log_reg p{
    margin: 0px 10px;
    cursor: pointer;
}
header h1 {
    font-size:2.5vw;
    width:min-content;
    margin:0;
}
#home {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    writing-mode:vertical-rl;
    text-orientation:upright;
}
#icon {
    width:7vw;
}
header h2 {
    font-size:4vmin;
    margin:0;
}
header a {
    color:#FFF;
    font-weight:700;
    text-decoration:none;
    margin:0;
    font-family:VIDEOPHREAK !important;
}
header ul {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;
    z-index:5;
    margin:0;
}
header ul li {
    cursor:pointer;
    user-select:none;
    position:relative;
    display:flex;
    justify-content:center;
    flex-direction:row;
    text-align:center;
    width:100%;
    margin:0 10px;
}

.managers {
    display:none;
    position:absolute;
    background-color:rgba(0,0,0,0.869);
    top:30px;
    padding:0;
}
.managers li {
    cursor:auto;
    margin:0 40px 0 0;
}
header .user_fun{
    display: flex;
    margin-right: 20px;
    min-width: 10%;
}
header p{
    cursor: pointer;
    margin: 0px 10px;
}
.wrapper {
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
    color:#FFF;
}
.content{
    width:100%;
    display: flex;
    justify-content:space-between;
    flex-grow: 1;
    align-items: start;
}

.news {
    width:14%;
    position:sticky;
    overflow:scroll;
    max-height:100vh;
    top:0;
}
.news h2 {
    width:100%;
    text-align:center;
    font-size: 3vmin;
}
.news h4{
    font-size: 2.5vmin;
}
.news p {
    margin:0;
    font-size: 2vmin;
}
.news a {
    text-decoration:none;
    font-size: 2vmin;
}
.news_block {
    margin-bottom:30px;
    border-bottom:1px solid #FFF;
    box-sizing:border-box;
    padding:10px;
}
.key_worlds{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0px;
}
.key_worlds div >p{
    margin:0;
}
.key_worlds .checkboxes{
    flex-grow: 1;
}
main {
    width: 70%;
    height: max-content;
    display:flex;
    justify-content:space-around;
    align-items: stretch;
    flex-wrap:wrap;
    color:#FFF;
    flex-grow: 1;
    margin: 0px auto;
}
main h1 {
    width:95%;
    font-size: 6vmin;
    margin: 0;
    padding:0;
}
.search_news{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search_news input{
    width:80%;
    background: none;
    height: 5vmin;
    color: white;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 3vmin;
}
.search_news button{
    background: none;
    border-radius: 100%;
    border: none
}
.search_news img{
    height:5vmin;
    transform: scaleX(-1);
    cursor: pointer;
}
.page_news{
    width:100%;
    position: relative;
}
.page_news::selection{
    color: black !important;
    background-color: white !important;
}
.page_news div{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
}
.page_news div h3, .page_news div p{
    width:100%;
    margin: 0;
    margin-bottom: 10px;
}
.page_news div h3{
    margin: 0;
    font-size: 4vmin;
}
.page_news div p, .page_news div a{
    margin: 0;
    font-size: 3vmin;
}
.page_news p:nth-child(3){
    margin-bottom: 20px !important;
}
.page_news div img{
    height:0px;
    position: absolute;
    transition-duration: 0.2s;
    cursor: pointer;
}
.page_news div:hover img{
    height:5vmin;
}
#block_games{
    width: 80% !important;
}
.game {
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:flex-start;
    width:23%;
    border:2px solid #000;
    box-sizing:border-box;
    background-color:rgba(0,0,0,0.35);
    border-radius:20px;
    margin-bottom:20px;
    position:relative;
    padding:20px;
    margin-top: 10px;
}
.game::-webkit-scrollbar{
    display: none;
}
.game h2{
    font-size: 4vmin;
    margin: 0;
    margin-top: 10px;
}
.game p {
    margin:0;
    font-size: 2.2vmin;
    margin-bottom: 5px;
}
.game .game_img {
    width:100%;
    height:28vw !important;
    background-size:cover;
    background-position:center;
    border-radius:20px;
}
.show{
    width:90%;
    display:flex;
    flex-direction:row;
    background-color:#f6f6f6;
    box-sizing:border-box;
    color:#000;
    justify-content:space-between;
    padding:20px;
}
.image_input {
    width:30vw;
    position:sticky;
}
.image_input .image {
    width:25vw;
    height:38vw;
    background-image:url(../imgs/add_image.svg);
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
    background-color:rgba(221,221,221,0);
    border:20px solid #000;
    border-radius:20px;
    transition-duration:.2s;
    user-select:none;
    position:sticky;
    top:10px;
}
.show h2{
    margin: 0;
    font-family: normalFont !important;
    font-size: 4.5vmin;
}
.show h3, .show span{
    margin: 0;
    font-family: normalFont !important;
    font-size: 2.8vmin;
}
.show .datas{
    width: 65%;
}
.show .other {
    display: flex;
}
.show p{
    margin: 5px 0px;
}
.manager {
    width:45%;
    height:max-content;
    background-color:#F5F5F5;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content:space-between;
    color:#000;
    padding:20px;
}

.block {
    width:48%;
    margin:0;
    padding:0;
}
.block input {
    width:100%;
    height:3vw;
    border:2px solid #130f23;
    color:#130f23;
    outline:none;
    background-color:#fff;
    font-weight:700;
    font-size:1.4vw;
    box-sizing:border-box;
    margin:5px 0;
    padding:5px;
}
.borders {
    border:1px solid #000;
}
.hover {
    transition-duration:.2s;
}
.hover:hover {
    background-color:rgba(0,0,0,0.165);
}
.block button {
    background-color:#FFF;
    width:max-content;
    text-align:center;
    border:2px solid #130f23;
    text-transform:uppercase;
    font-size:1vw;
    font-weight:900;
    cursor:pointer;
    padding:10px 40px;
}
.objs {
    width:100%;
    height:20vh;
    overflow:hidden;
}
.row {
    box-sizing:border-box;
}
.row p {
    box-sizing:border-box;
    font-size:20px;
    cursor:pointer;
    width:100%;
    user-select:none;
    margin:0;
    padding:5px 20px;
}
.block .events {
    display:flex;
    flex-direction:column;
}
.block form {
    display:none;
    padding:10px;
}
.block .buttons {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.buttons p {
    width:50%;
    text-align:center;
    height:max-content;
}
.update input {
    height:4vh;
    font-size:2vh;
}
.update button {
    font-size:.7vw;
    padding:5px 25px;
}
.search {
    width:95%;
    flex-grow:1;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}
.search h1 {
    width:100%;
    color:#FFF;
    text-align:center;
    font-size:40px;
}
.search .game .game_img{
    height: 60vh;
}
.search_block {
    position:fixed;
    background-color:#23212c;
    width:25vw;
    height:max-content;
    z-index:10;
    right:1vw;
    bottom:0;
    user-select:none;
    border-radius:10px;
    overflow:hidden;
}
.ui {
    display:flex;
    flex-direction:row;
    align-items:stretch;
}
.draggeble {
    background-color:#2d2c3e;
    width:80%;
    cursor:grab;
    flex-grow:1;
    transition-duration:.2s;
}
.draggeble p {
    width:100%;
    text-align:center;
    color:#464665;
    margin:0;
    padding:0;
}
.draggeble:hover {
    background-color:#3a3a4b;
}
#slide {
    width:2vw;
    background-color:#2d2c3e;
    transform:rotate(180deg);
    cursor:pointer;
    transition-duration:.2s;
}
#slide:hover {
    background-color:#1b1a26;
}
.search_inputs {
    display:none;
    box-sizing:border-box;
    width:100%;
    padding:10px 5px 5px;
}
.search_inputs div {
    display:flex;
    justify-content:space-between;
    margin-top:2px;
    align-items:center;
}
.search_block .date input {
    width:31.5%;
}
.search_inputs input {
    width:48.5%;
    margin:0;
    padding:0;
}
.search_inputs p {
    flex-grow:1;
    color:#FFF;
    margin:0 0 0 10px;
    padding:0;
}

footer {
    width:100%;
    color:#FFF;
    background-color:#000;
    margin-top:30px;
    border-top:3px solid #FFF;
    border-bottom:3px solid #FFF;
}
datalist::-webkit-scrollbar,.news::-webkit-scrollbar,.image_input input,#form textarea::-webkit-scrollbar,.checkboxes::-webkit-scrollbar,.objs::-webkit-scrollbar,.trash::-webkit-scrollbar,.hide {
    display:none;
}
.news h4,#form h2,#form h3 {
    width:100%;
    text-align:center;
    margin:0;
}
.game a,.search_block form,.trash_objs main {
    width:100%;
}
#form .button:hover,#form button:hover,.block button:hover {
    background-color:#F5F5F5;
}
.search_inputs button,.trash_objs h3 {
    margin-top:5px;
}
.rating{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -0px;
}
.star{
    width: 5vmin;
	height: 5vmin;
	background: #a99607;
	clip-path: polygon(50% 5%, 61% 40%, 98% 40%, 68% 62%, 79% 96%, 50% 75%, 21% 96%, 32% 62%, 2% 40%, 39% 40%);
}
.star .field{
    width: 100%;
    background-color: yellow;
}
.gamePage > form{
    width: 90%;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black !important;
}
.gamePage > form > h2{
    width: 100%;
}
.gamePage #comment{
    color:black;
    flex-grow: 1;
    padding: 0px 10px;
    box-sizing: border-box;
}
.gamePage .comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black !important;
    flex-grow: 1;
    position: relative;
}
.gamePage .comment .ava{
    width: 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gamePage .comment .text{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.gamePage .date_inf{
    margin: 0;
    color: grey;
    font-size: 2vmin;
    width: max-content;
}
.gamePage .comment .ava .av{
    width: 8vmin;
    height: 8vmin;
    border-radius: 4vmin;
    background-size: cover;
    background-position: center;
}
.gamePage .comment .ava p{
    margin: 0;
}