<div class="form_l_r" id="auth">
    <div class="back"></div>
    <form id="log" class="auth_reg">
        <h2>Authorization form</h2>
        <input type="text" name="user" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <div>
            <button>Login</button>
            <p id="result"></p>
        </div>
        
    </form>
</div>