<div class="form_l_r" id="registr">
    <div class="back"></div>
    <form id="reg" class="auth_reg">
        <h2>Registration form</h2>
        <input type="text" name="user" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <div>
            <button>Registration</button>
            <p id="reg_result"></p>
        </div>
        
    </form>
</div>